.navLinkButton {
  min-width: var(--size-zero);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--size-menu-link-height);
  border: var(--border-thin) solid transparent;
  border-radius: var(--radius-menu-link);
  padding-inline: var(--space-zero);
  padding-block: var(--space-zero);
  background: transparent;
  color: var(--color-text-primary);
  text-align: left;
  cursor: pointer;
  transition: color 120ms ease-in-out;
}

.navLinkButton:hover {
  color: var(--color-brand-logo-green);
}
